<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732477176471-2rm326u1eu3ji757mmb5u04s8fkcgs3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732477176471-2rm326u1eu3ji757mmb5u04s8fkcgs3t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732477176471-beln8l8qopso7j4dnoimdvepgkt219v6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHKWad6Cqxs4KZ0Gjd2o8sZ8hKG0lvVSY</string>
	<key>GCM_SENDER_ID</key>
	<string>732477176471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnfirebase</string>
	<key>PROJECT_ID</key>
	<string>rnfirebase-ed869</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirebase-ed869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732477176471:ios:296beff477ce845bc187d2</string>
	<key>DATABASE_URL</key>
	<string>https://rnfirebase-ed869.firebaseio.com</string>
</dict>
</plist>